.contrib/.builds/
.contrib/Debugging/
AllTheThings.iml
.idea/
*.user
.vs/
obj/
**/desktop.ini
*.bak
.contrib/.tools/*.txt
.contrib/.tools/ATT.pdb
.contrib/.tools/Parser V2.exe.config
.contrib/.tools/Parser V2.pdb
.contrib/.tools/Parser V2.exe
